.container {
    height: 100vh;
    width: 100vw;
}
.header {
    justify-content: end;
    margin-right: 50px;
    font-size: 20px;
    list-style-type: none;
}
body {
    background-image: url("/Users/isaacbarcroft/Documents/ccs/homework/sk8/images/bg.jpg");
    background-color: #cccccc;
}
#carousel {
    height: 500px;
    overflow: hidden;
    background: url("/Users/isaacbarcroft/Documents/ccs/homework/sk8/images/top-image.png") no-repeat;
    border: solid 8px white;
    position: relative;
}

#carousel::before {
    content: url("/Users/isaacbarcroft/Documents/ccs/homework/sk8/images/grid.png");
    opacity: 0.3;

}

#carousel > .logo {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: rotateY(-50%);
}

#skateboarders {
    overflow: hidden;
    // padding: 15px;
}
.skateboarders div {
    margin: 10px;
    border: white 4px solid;
}

.lance {
    width: 350px;
    height: 230px;
    overflow: hidden;   
    background: url("/Users/isaacbarcroft/Documents/ccs/homework/sk8/images/sk8er-4.png") -100px;
}
.rodney {
    width: 360px;
    height: 230px;
    overflow: hidden;
}
.steve {
    overflow: hidden;
}
.steve img{
    overflow: hidden;
    width: 730px;
    height: 250px;
}

.tommy {
    height: 530px;
    border: white 4px solid;
}
#sk8Boards {
    border:    1px solid;
    background-color: white;
    box-shadow:0px 1px 1px #de1dde;
    margin-bottom: 5px;
}
 #Tony div {
    border: black 1px solid;
    background-color: whitesmoke;
    
}
#rodney {
    overflow: auto;
    margin: 0 10px;
}
#portraits div img {
    margin: 20px 5px;
    background-color: gray;
    border: black 1px solid;
}
.nav-item a {
    background-color: red; 
    color: white;
    margin: 5px 15px;
    width: 275px;
    text-align: center;
}
.social li {
    list-style-type: none;
    text-decoration: none;
}
.social a {
    color: black;
    text-decoration: none;
    list-style-type: none;
   
}
#more {
    display: none;
}
#more1 {
    display: none;
}
#more2 {
    display: none;
}
#Tony div button {
    background-color: red;  

}
form  {
    background-color: whitesmoke;
    border: black 1px solid;
    height: 250px;
   
}
.top {
    background-color: whitesmoke;
    height: 500px;
    margin-bottom: 10px;
    
}
.topPhoto {
    // max-width: 100%;
    width: 1000px;
    position: absolute;
    top: 80px;
    // max-height: 100%;
    left: 128px;
    height: 500px;
}
.grid {
    position: absolute;
    top: 80px;
    left: 67px;
    width: 1140px;
    height: 500px;
    z-index: 1;
}
.photoLogo {
    position: absolute;
    z-index: 2;

}
h2 {
    padding: 15px 0 0 10px;
}
h5 {
    font-size: 13px;
    padding-left: 10px;
    color: gray;
}
#Tony div p {
    padding-left: 10px;;
}

.btn {
    background-color: red;
    border: red 1px solid;
    color: white; 
    position: absolute;
    right: 45px;
}
// @media (min-width: 768px){
//     .skateboard-image{
//         position: relative;
//         transform-origin: top left;
//         transform: rotate(90deg) translateY(1500%);
//         height: 260px;
//         width: 65px;
//     }
//     }