.container {
    height: 100vh;
    width: 100vw;
}

.container {
    background-image: url("./photos/sk8-main/images/bg.jpg");
   
}

div img {
    
    image-orientation: flip;
}

#sk8Boards {
    border: black 2px solid;
}

#Tony div {
    border: black 2px solid;
}
#rodney {
    margin: 0 10px;
}
#portraits div img {
    margin: 20px 5px;
    background-color: gray;
    border: black 1px solid;
}